* {
    box-sizing: border-box;
  }
  
  nav {
    position: fixed;
    width: 90%;
    top: 0;
    left: 5%;
    font-size: 20px;
    text-align: center;
    background-color: grey;
  }
  
  nav > a {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  #about-me {
    height: 700px;
    width: 90%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
    background-color: darkgrey;
  }
  
  #projects {
    height: 700px;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    background-color: lightgrey;
  }
  
  .github {
    margin-right: 30px;
  }
  
  .pages {
    margin-left: 30px;
  }
  
  iframe {
    height: 300px;
    width: 280px;
    margin: 15px auto;
    display: block;
  }
  
  #contact-me {
    height: 200px;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    background-color: darkgrey;
  }
  
  p {
    padding: 0 20px;
    line-height: 1.5;
  }